/** Write your CSS in here **/

body{
    text-align: center;
   padding: 20px;
}

.btns{
    display: flex;
    justify-content: space-evenly;
   padding-top: 80px;
}

button{
    padding: 10px;
    border:1px solid gray;
    border-radius: 5px;
}
